html {
    margin: 0;
}
body{
    color: #cecece;
    background-color: #282828;
    margin: 0;
    font-size: 14px;
}





.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    color: white;
    height: calc(100vh - 75px);

  }





/*////////////////////////////////////////////////////////////////////////
//  MAIN
////////////////////////////////////////////////////////////////////////*/
.main {
    background-color: #b43c3c;
    overflow: scroll;
    background-color: #282828;
    overflow-x: hidden;
}
.header {
    height: 250px;
}


/*////////////////////////////////////////////////////////////////////////
//  SIDEBAR
////////////////////////////////////////////////////////////////////////*/

.sidebar{
    background-color: #202020;
    width: 17.5rem;
}
.logo img{
    border-radius: 40px;
    width: 60px;
    height: 60px;
}

.logo {
    width: fit-content;
    height: fit-content;
    padding-left: 1.2em;
}
.logName {
    height: 100px;
    width: 100%;
}
.name {
    background-color: yellowgreen;
    padding-left: 1.2em;
    width: 100%;
}
/*////////////////////////////////////////////////////////////////////////
//  FOOTER
////////////////////////////////////////////////////////////////////////*/

.foot {
    background-color: #424242;
    height: 75px;
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #424242;
    color: white;
    text-align: center;

}